<header class="site-header" role="banner">

  <div class="wrapper flex-row">
  
    <nav class="site-nav third">
        <h2><a class="page-link" >HOME</a></h2>
    </nav>
    <nav class="site-nav third">
        <h2><a class="page-link" >ABOUT</a></h2>
    </nav>
    <nav class="site-nav third">
        <h2><a class="page-link" >SERVICES</a></h2>
    </nav>

    <nav class="site-nav third">
        <h2><a class="page-link" >RATES</a></h2>
    </nav>

    <nav class="site-nav third">
        <h2><a class="page-link" >CONTACT</a></h2>
    </nav>
  </div>
</header>
